.calendar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 50px auto auto auto auto auto auto;
    margin: 0px 0px 0px 5px;
}

.calendar_day {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    text-align: center;

    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
}

.calendar_normal {
    background-color: var(--tertiaryColor);
    color: var(--primaryText);
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
}

.calendar_other {
    background-color: var(--primarySurface);
}

.calendar_current {
    background-color: var(--secondaryColor);
    font-weight: 800;
}
