/* General Button Styling */
.button {
    cursor: pointer;
    border: none;
    font-family: 'Lusitana', serif;
}

.button:hover { 
    filter: brightness(98%);
}

.button:active {
    filter: brightness(96%);
}

/* General Input Styling */
.input {
    font-family: 'Lusitana', serif;
    font-size: 16px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.input:focus {
    filter: brightness(96%);
    border: white;
    outline: none;
}

/* General Checkbox Styling */
.checkbox {
    accent-color: var(--text);
    cursor: pointer;
}

/* General Select Styling */
.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
    font-family: 'Lusitana', serif;
    font-size: 14px;
    border: none;
    outline:0px;
    text-align: center;
}

.select:hover {
    filter: brightness(98%);
}

/* General Colour Input Styling */
.color {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
}

.color::-webkit-color-swatch {
    border-radius: 40px;
    border: none;
}

.color:hover { 
    filter: brightness(98%);
}

.color:active {
    filter: brightness(96%);
}

/* General Icon Styling for Mode Radio*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    
    color: var(--selectedColor);
}

/* Mode Radio Styling */
input[name="Mode"] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[name="Mode"]:checked + .mode_radio {
    /* color: #2bb375; */
    color: var(--text);
}

.mode_radio {
    cursor: pointer;
}

.mode_radio:hover { 
    filter: brightness(96%);
    cursor: pointer;
}

.mode_radio:active {
    filter: brightness(94%);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-moz-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-moz-scrollbar-thumb {
    background-color: var(--sidebar);
    border-radius: 10px;
}

::-moz-scrollbar-button {
    display: none;
}