.button {
    border: none;
    font-family: 'Lusitana', serif;
}

.button:hover { 
    filter: brightness(98%);
}

.button:active {
    filter: brightness(96%);
}

.input {
    font-family: 'Lusitana', serif;
    font-size: 16px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.input:focus {
    filter: brightness(96%);
    border: white;
    outline: none;
}

.checkbox {
    accent-color: black;
}

.select {
    font-family: 'Lusitana', serif;
    border: none;
}

.select:target {
    border: none;
}