/* Importing fonts and logos from Google.  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lusitana:wght@400;700&family=Merriweather:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Setting Variables */
:root {
    --text: black;
    --sidebar: white;
    --main: #e2e7cd;
    --secondary: white;
    --error: #eebdbd;
}

/* General Properties */
* {
    margin: 0;
}

body {
    color: var(--text);
    background-color: var(--sidebar);    
    font-weight: 400;
    font-family: 'Lusitana', serif;
    height: 100%;
}

.flex {
    display: flex;
}

/* Sidebar Styling */
.sidebar {
    padding: 20px 20px 20px 20px;
    background-color: var(--sidebar);  
    display: flex;
    justify-content: space-between;  
    flex-direction: column;
    flex: 1;
}   

.sidebar_title {
    font-size: 40px;
    color: var(--text);
}

/* Planner Styling */
.planners {
    height: 60%;
}

.planners_title {
    font-size: 28px;
    padding: 0px 0px 10px 0px;
    color: var(--text);
}

.planners_checkbox {
    width: 20px;
    height: 20px;
    margin: 0px 10px 10px 2px;
    background-color: black;
}

.planners_name {
    font-size: 18px;
    color: var(--text);
}

/* Main Styling */
.main {
    background-color: var(--main);
    color: var(--text);
    padding: 30px 30px 30px 30px;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    flex: 3;
    justify-content: space-between;
    flex-direction: column;
}

.main_title {
    padding: 10px 10px 10px 12px;
    color: var(--text);
    font-family: Inter;
}

/* Task Styling */
.task {
    overflow-y: scroll;
    height: clamp(65%, 100%, 85%);
}

.task_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 14px;
    border-radius: 20px 20px 20px 20px;
}

.task_subtitle {
    display: inline-flex;
    align-items: center;
    color: var(--text);
}

.task_container:hover {
    background-color: var(--main);
    filter:brightness(95%);
}

.task_colour {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: var(--secondary);
    border-radius: 8px 8px 8px 8px;
    margin: 0px 5px 0px 2px;
}

.task_button {
    width: 40px;
    height: 40px;
    border-radius: 40px 40px 40px 40px;
    background-color: var(--secondary);
}


/* Inputs Styling */
.inputs {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 15px 10px;
    margin: 5px 5px 5px 5px;
}

.inputs_mode {
    width: 80px;
    height: 40px;
    border-radius: 40px 0px 0px 40px;
    background-color: var(--sidebar);
    color: var(--text);
}

.inputs_text {
    height: 40px;
    width: 500px;
    border-radius: 40px 0px 0px 40px;
    background-color: var(--sidebar);
    color: var(--text);
}

.inputs_color {
    display: none;
    width: 120px;
    height: 40px;
    padding: 5px 30px 5px 30px;
    border: none;
    background-color: var(--sidebar);
    color: var(--text);
}

.inputs_select {
    height: 40px;
    width: 120px;
}

.inputs_add {
    height: 40px;
    width: 50px;
    border-radius: 0px 40px 40px 0px;
    background-color: var(--sidebar);
    color: var(--text);
    font-size: 18px;
}

.inputs_error {
    height: 40px;
    width: 340px;
    justify-content: left;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 15px;
    background-color: var(--error);
    color: var(--text);
    display: none;
}

.mode {
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: var(--sidebar);
    height: 40px;
    width: 90px;
    border-radius: 40px;
}