/* Colours - Uses HSL to determine colours (If you change the numbers in the primary variable then the website will change looks :D) */
    :root {
        /* --primary: 108, 34%; */
        --primary: 18, 64%;
    }

/* The Base CSS - margins + colours + fonts */
    body {
        margin: 0; 
        background-color: hsl(var(--primary), 84%);
        color: black;

        font-weight: 400;
        font-family: 'Lusitana', serif;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    table {
        font-weight: 700;
        font-size: 21px;
        border-collapse: collapse;
    }

    tr:hover {
        background-color: hsl(var(--primary), 100%, 15%);
        padding-left: 100px;
    }

    h1, h2, h3, h4, h5, p {
        margin: 0px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
    }

    li {
        list-style: none;
        margin: 0px;    
    }

    select, option {
        height: 30px;
        width: 110px;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 5px;
        border-radius: 20px 20px 20px 20px;

        background-color: hsl(var(--primary), 1%);
        color: hsl(var(--primary), 95%);
        font-family: 'Merriweather', serif;
    }

    input, button { 
        border-radius: 20px 20px 20px 20px;
        outline: none;
        border: none;
        width: 100%;
        height: 50px;
        font-family: 'Merriweather', serif;

    }

    input {
        background-color: hsl(var(--primary), 3%);
        color: hsl(var(--primary), 95%);
        padding-left: 10px;

    }

    input:hover, button:hover {
        background-color: hsl(var(--primary), 10%);
        color: white;
    }

    input::placeholder {
        color: white;
        padding: 5px;
    }

    button {
        background-color: hsl(var(--primary), 1%);  
        color: hsl(var(--primary), 95%); 
        
        outline: none;
        border: none;
    }

    input[type=checkbox], input[type=radio] { 
        height: 15px;
        width: 15px;
    }

    .montserrat-font {
        font-family: 'Inter', sans-serif;
    }

    .flex {
        display: flex;
    }

    .flex1 {
        flex: 1;
    }

    .flex4 {
        flex: 4;
    }

/* The Sidebar Section - Contains Planner List + Mini Calendar + Planner Input */
    .sidebar {
        margin: 20px;
        width: 16%;
        min-width: 16%; 
    }

    .sidebar h1 {
        font-family: 'Lusitana', serif;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 15px;
        padding-top: 5px;
    }

    .sidebar h2 {
        font-family: 'Lusitana', serif;
        font-size: 25px;

    }
    .sidebar-div {    
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14.5% ;
    }

    .sidebar-div div {
        font-size: 20px;
        font-weight: 900;
        text-align: center;
    }

    .sidebar td {
        height: 20%;
        width: 15%;
    }

    #mainButton {
        text-align: right;
    }

    .planner-input { 
        margin-top: 18.5px;
        height: 42px;
    }

    .planner-list {
        height: 45.7%;
        overflow-y: scroll;
        display: block;
    }

/* The Task Sidebar Section - Contains Buttons + Inputs */
    .task-sidebar {
        /* margin-top: 20px; */
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 35px;
        height: 96.3%;
        width: 200px;
        background-color: hsl(var(--primary), 92.5%);
    }

    .task-sidebar p { 
        margin-top: 15px;
        font-weight: 900;
        padding-bottom: 5px;
    }
    
    #dateInput, #descriptionInput, #select, #taskNameInput, #add {
        padding-left: 10px;
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
    }

    #exit {
        padding-left: 10px;
        width: 100%;
        height: 40px;

        margin-top: 93.6%;
        border-radius: 25px 25px 25px 25px;
        font-family: Merriweather;
    }

/* The Main Section - Contains Task List + Task Input */
    .main {
        width: 110%; 
        min-width: 10%;
        background-color: hsl(var(--primary), 91%);
        padding: 40px;
        border-radius: 40px 0px 0px 40px;

    }

    .background button {
        width: 30px;
        height: 30px;
        border-radius: 50px 50px 50px 50px;
        margin-right: 10px;
        margin-top: 5px;
        background-color: hsl(var(--primary), 84%);
        float: right;
    }

    .background button:hover {
        background-color: hsl(var(--primary), 80%);
    }

    .main nav button {
        width: 100px;
        height: 42px;
        float: right;
        margin: 0px;
    }

    .main nav input {
        width: 50%;
        margin-bottom: 5px; 
        padding: 5px;
        height: 42px;
    }

    .main tr {
        height: 55px;
    }

    .main-div {
        height: 83.65%;
        width: 100%;
        display: grid;
        font-size: 20px;
        grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% ;
        grid-template-rows: 5% 19% 19% 19% 19% 19%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-div p {
        font-size: 19px;
        border-radius: 8px 8px 8px 8px;
        padding: 5px;

    }

    .main-div p:hover {
        background-color: hsl(var(--primary), 84%);
    }

    .main-div div {
        padding-left: 5px;
        margin-bottom: 5px;
        /* border: 1px solid hsl(var(--primary), 84%); */

    }
    .background {
        margin-bottom: 10px;
    }

    .list {
        height: 85.2%;
        overflow-y: scroll;
    }

    .currentDate {
        background-color: hsl(var(--primary), 1%);
        color: hsl(var(--primary), 84%);
        border-radius: 15px 15px 15px 15px;
    }
    
