/* Colours - Uses HSL to determine colours (If you change the numbers in the primary variable then the website will change looks :D) */
    :root {
        --primary: 26, 100%;
        background-color: hsl(0, 0%, 0%, 0%);
    }

/* The Base CSS - margins + colours + fonts */
    body {
        margin: 0; 
        background-color: hsl(var(--primary), 95%);
        color: black;
        font-weight: 400;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    table {
        font-weight: 700;
        font-size: 20px;
        table-layout: fixed;
        border-collapse: collapse;
        padding: 0px;
        margin-top: 0px;
        display: block;
    }

    td, tr {
        border-collapse: collapse;

    }

    button { 
        border-radius: 8px 8px 8px 8px;
        outline: none;
        border: none;
    }

    h1, h2, h3,  h4, h5 {
        margin: 0px;
    }

    p {
        margin: 0px;
        font-weight: 400;
        font-size: 16px;
    }

    li {
        list-style: none;
        margin: 0px;    
    }

    select, option {
        border: none;
    }


    input[type='radio'] {
        height: 15px;
        width: 15px;
    }

    select {
        height: 30px;
        width: 18%;
        padding-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 15px;
        background-color: hsl(var(--primary), 84%);
        font-family: 'Merriweather', serif;
    }

    .merriweather-font {
        font-family: 'Merriweather', serif;
    }

    .montserrat-font {
        font-family: 'Montserrat', serif;
    }

    .flex {
        display: flex;
    }

    .flex1 {
        flex: 1;
    }

    .flex4 {
        flex: 4;
    }

    .input { 
        border-radius: 30px 30px 30px 30px;
        outline: none;
        border: none;
        width: 100%;
        height: 50px;
    }

    input::placeholder {
        color: black;
        padding-left: 5px;
    }

    input[type=checkbox], input[type=radio] { 
        height: 15px;
        width: 15px;
    }

/* The Sidebar Section - Contains Planner List + Mini Calendar + Planner Input */
    .sidebar {
        margin: 20px;
        width: 15%;
        min-width: 15%;       
    }

    .sidebar h1 {
        font-weight: 800;
        font-size: 35px;
        margin-bottom: 15px;
        padding-top: 5px;
    }

    .sidebar-div {    
        display: grid;
        grid-template-columns: 14% 14% 14% 14% 14% 14% 14.5% ;
    }

    .sidebar-div p {
        font-size: 20px;
        font-weight: 900;
        text-align: center;
    }

    .sidebar td {
        height: 20%;
        width: 15%;
    }

    #mainButton {
        text-align: right;
    }

    .planner-input, .planner-input::placeholder { 
        margin-top: 15px;
        width: 100%;
    }

    .planner-list {
        height: 47.5%;
        overflow-y: scroll;
        display: block;
    }

/* The Task Sidebar Section - Contains Buttons + Inputs */
    .task-sidebar {
        padding-top: 25px;
        padding-left: 30px;
        padding-right: 35px;
        height: 96.3%;
        width: 200px;
        background-color: hsl(var(--primary), 95%);
    }

    .task-sidebar p { 
        margin-top: 15px;
        font-weight: 900;
        padding-bottom: 5px;
    }

    #add {
        background-color: hsl(var(--primary), 90%);
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
        border-radius: 25px 25px 25px 25px;
        margin-top: 25px;
        margin-left: 40px;
        flex: 1
    }

    #dateInput, #descriptionInput, #select, #taskNameInput {
        background-color: hsl(var(--primary), 90%);
        padding-left: 10px;
        width: 100%;
        height: 35px;
    }

    #exit {
        background-color: hsl(var(--primary), 90%);  
        bottom: 5px;
        border-radius: 25px 25px 25px 25px;
        height: 50px;
        width: 100px;
        position: absolute;
        bottom: 45px;
        right: 30px;
        font-family: Merriweather;
    }

/* The Main Section - Contains Task List + Task Input */
    .main {
        width: 100%; 
        min-width: 10%;

        background-color: hsl(var(--primary), 91%);
        padding: 40px;
        border-radius: 40px 0px 0px 40px;

    }

    .main input, .sidebar input {
        background-color: hsl(var(--primary), 84%);
        color: hsl(var(--primary), 99%);
        padding-left: 10px;
    }

    .main button {
        width: 30px;
        height: 30px;
        border-radius: 50px 50px 50px 50px;
        margin-right: 10px;
        margin-top: 5px;
        background-color: hsl(var(--primary), 84%);
    }

    .main button:hover, .main input:hover, .sidebar button:hover, .sidebar input:hover {
        background-color: hsl(var(--primary), 80%);
    }

    .main nav button {
        background-color: hsl(var(--primary), 84%);
        width: 100px;
        height: 50px;
        float: right;
        margin: 0px;
    }

    .main nav input {
        background-color: hsl(var(--primary), 84%);
        width: 70%;
        margin-bottom: 5px; 
        padding: 5px;
    }

    .main-div {
        height: 82.5%;
        width: 95.1%;
        display: grid;
        font-size: 20px;
        grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% ;
        grid-template-rows: 5% 19% 19% 19% 19% 19%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-div p {
        font-size: 19px;
        border-radius: 8px 8px 8px 8px;
        padding: 5px;

    }

    .main-div p:hover {
        background-color: hsl(var(--primary), 84%);
    }

    .background {
        margin-bottom: 10px;
    }

    .list {
        height: 85.2%;
        overflow-y: scroll;
    }

    .currentDate {
        background-color: hsl(var(--primary), 80%);
        border-radius: 5px 5px 5px 5px;
    }
